.footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 20px 10px;
}

.footer h3 {
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 15px 0;
}

.social-icons a {
  color: white;
  font-size: 22px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #00adb5;
  transform: scale(1.2);
}

.footer p {
  font-size: 14px;
  opacity: 0.7;
}
